/* BASE STYLE */

/* ******************************************************* */
/* VARIABLES */
/* ******************************************************* */
:root {
  --black: #1d1d29;
  --wight: #ffffff;
  --bg-overlay: RGB(253, 255, 206, 0.96);
  --btn-red: #ff0000;
  --bn-red-hover: #fa7474;

  --btn-light-blue: #4972ee;
  --btn-light-blue-hover: #cccea7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#app {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrate", sans-serif;
}

/* ******************************************************* */
/* APP */
/* ******************************************************* */

#app {
  background: var(--bg-overlay);
  overflow-y: scroll;
}

.app-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../images/indFlag.jpg) no-repeat center fixed;
  background-size: cover;
  z-index: -1;
}

/* ******************************************************* */
/* HEADER */
/* ******************************************************* */

header {
  background: var(--black);
  padding: 1rem 2rem;
}
.logo {
  color: var(--wight);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ******************************************************* */
/* IND ELECTIONS */
/* ******************************************************* */

.logo h1 {
  font-size: 3rem;
}

/* ******************************************************* */
/* IND CIRCLE */
/* ******************************************************* */
.logo img {
  margin-right: 1rem;
  width: 4rem;
}

/* ******************************************************* */
/* MAIN */
/* ******************************************************* */

main {
  height: 100%;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

/* card */

.card {
  width: 25rem;
  border: 2px solid var(--black);
  overflow: hidden;
  box-shadow: 15px 15px 6px var(--shadow);
  transition: all 0.5 ease;
  cursor: pointer;
}

.card:first-of-type {
  margin-bottom: 5rem;
}
.card-image {
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: middle;
}

/* card info */
.card-info {
  display: flex;
  justify-content: space-evenly;
  background: var(--wight);
  color: var(--black);
  padding: 2rem 0;
}

.candidate-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.votes-number-modiji,
.votes-number-rahul {
  font-weight: 700;
  font-size: 2.5rem;
}

.votes-text {
  font-size: 1rem;
  font-weight: 600;
}

/* Line */

.line {
  width: 0.1rem;
  background: var(--black);
}

/* candidate info */
.candidate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.candidate-name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.candidate-party {
  font-size: 1rem;
  font-weight: 600;
}

/* card butoon  */

.card-btn {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0;
  color: var(--wight);
  cursor: pointer;
  border-top: 2px solid var(--black);
}

.btn-modiji,
.btn-rahul {
  transition: all 0.5 ease;
}
.btn-modiji {
  background-color: var(--btn-red);
}
.btn-rahul {
  background: var(--btn-light-blue);
}
